<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lihat Jadwal</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>

    <header>
        <div class="brand">
            <img src="../../public/images/logo_kai.jpg" alt="Logo">
        </div>
        <nav>
            <a href="dashboard.html">BERANDA</a>
            <a href="lihat_jadwal.html">LIHAT JADWAL</a>
            <a href="pemesanan.html">PEMESANAN</a>
            <a href="tiket.html">TIKET SAYA</a>
            <a href="../../view/Login/login.html">LOGOUT</a>
        </nav>
    </header>

    <div class="content"">
        <div class="container">
            <h2>Informasi Jadwal Kereta</h2>
            <div class="table-container">
                    <table class="jadwal-table">
                        <thead>
                            <tr>
                                <th>Nama Kereta</th>
                                <th>Stasiun Awal</th>
                                <th>Stasiun Akhir</th>
                                <th>Jadwal Berangkat</th>
                                <th>Jadwal Sampai</th>
                                <th>Harga</th>
                                <th>Stok</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Argo Parahyangan</td>
                                <td>Bandung</td>
                                <td>Gambir</td>
                                <td>15:00</td>
                                <td>17:00</td>
                                <td>Rp 250.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <!-- Tambahkan baris lain sesuai kebutuhan -->
                            <tr>
                                <td>Argo Wilis</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>06:00</td>
                                <td>15:00</td>
                                <td>Rp 500.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Harina</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>19:00</td>
                                <td>05:00</td>
                                <td>Rp 350.000</td>
                                <td style="background-color: red;">Habis</td>
                            </tr>
                            <tr>
                                <td>Ciremai</td>
                                <td>Bandung</td>
                                <td>Semarang Tawang</td>
                                <td>17:00</td>
                                <td>01:00</td>
                                <td>Rp 250.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Lodaya</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>17:00</td>
                                <td>03:00</td>
                                <td>Rp 450.000</td>
                                <td style="background-color: red;">Habis</td>
                            </tr>
                            <tr>
                                <td>Bandung Raya</td>
                                <td>Padalarang</td>
                                <td>Cicalengka</td>
                                <td>08:00</td>
                                <td>12:00</td>
                                <td>Rp 8.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Garut Cibatuan</td>
                                <td>Purwakarta</td>
                                <td>Garut</td>
                                <td>16:00</td>
                                <td>23:00</td>
                                <td>Rp 14.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Argo Parahyangan</td>
                                <td>Bandung</td>
                                <td>Gambir</td>
                                <td>15:00</td>
                                <td>17:00</td>
                                <td>Rp 250.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <!-- Tambahkan baris lain sesuai kebutuhan -->
                            <tr>
                                <td>Argo Wilis</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>06:00</td>
                                <td>15:00</td>
                                <td>Rp 500.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Harina</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>19:00</td>
                                <td>05:00</td>
                                <td>Rp 350.000</td>
                                <td style="background-color: red;">Habis</td>
                            </tr>
                            <tr>
                                <td>Ciremai</td>
                                <td>Bandung</td>
                                <td>Semarang Tawang</td>
                                <td>17:00</td>
                                <td>01:00</td>
                                <td>Rp 250.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Lodaya</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>17:00</td>
                                <td>03:00</td>
                                <td>Rp 450.000</td>
                                <td style="background-color: red;">Habis</td>
                            </tr>
                            <tr>
                                <td>Bandung Raya</td>
                                <td>Padalarang</td>
                                <td>Cicalengka</td>
                                <td>08:00</td>
                                <td>12:00</td>
                                <td>Rp 8.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Garut Cibatuan</td>
                                <td>Purwakarta</td>
                                <td>Garut</td>
                                <td>16:00</td>
                                <td>23:00</td>
                                <td>Rp 14.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Argo Parahyangan</td>
                                <td>Bandung</td>
                                <td>Gambir</td>
                                <td>15:00</td>
                                <td>17:00</td>
                                <td>Rp 250.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <!-- Tambahkan baris lain sesuai kebutuhan -->
                            <tr>
                                <td>Argo Wilis</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>06:00</td>
                                <td>15:00</td>
                                <td>Rp 500.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Harina</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>19:00</td>
                                <td>05:00</td>
                                <td>Rp 350.000</td>
                                <td style="background-color: red;">Habis</td>
                            </tr>
                            <tr>
                                <td>Ciremai</td>
                                <td>Bandung</td>
                                <td>Semarang Tawang</td>
                                <td>17:00</td>
                                <td>01:00</td>
                                <td>Rp 250.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Lodaya</td>
                                <td>Bandung</td>
                                <td>Surabaya</td>
                                <td>17:00</td>
                                <td>03:00</td>
                                <td>Rp 450.000</td>
                                <td style="background-color: red;">Habis</td>
                            </tr>
                            <tr>
                                <td>Bandung Raya</td>
                                <td>Padalarang</td>
                                <td>Cicalengka</td>
                                <td>08:00</td>
                                <td>12:00</td>
                                <td>Rp 8.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                            <tr>
                                <td>Garut Cibatuan</td>
                                <td>Purwakarta</td>
                                <td>Garut</td>
                                <td>16:00</td>
                                <td>23:00</td>
                                <td>Rp 14.000</td>
                                <td style="background-color: green;">Tersedia</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <!-- Tombol Kembali ke Halaman Dashboard -->
            <a href="dashboard.html" class="button button-kembali">Kembali ke Dashboard</a>

            <!-- Tombol Pesan Sekarang ke Halaman Pemesanan.html -->
            <a href="pemesanan.html" class="button button-pesan">Pesan Sekarang</a>
         </div>
        </div>
    </div>

</body>
</html>
