<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilih Tiket</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>

    <header>
        <div class="brand">
            <img src="../../public/images/logo_kai.jpg" alt="Logo">
        </div>
        <nav>
            <a href="dashboard.html">BERANDA</a>
            <a href="lihat_jadwal.html">LIHAT JADWAL</a>
            <a href="pemesanan.html">PEMESANAN</a>
            <a href="tiket.html">TIKET SAYA</a>
            <a href="../../view/Login/login.html">LOGOUT</a>
        </nav>
    </header>

    <div class="content" >
        <div class="container">
            
            <h2>Pilih Tiket Kereta</h2>

            <div class="tiket-card">
                <h3>Argo Bromo Anggrek</h3>
                <p>15:00 - Gambir </p>
                <p>17:00 - Surabaya</p>
                <p>Tersedia</p>
                <p>Rp 700.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>
            
            <div class="tiket-card">
                <h3>Argo Umroh</h3>
                <p>23:00 - Plered </p>
                <p>12:00 - Mekkah</p>
                <p>Tersedia</p>
                <p>Rp 25.000.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="tiket-card">
                <h3>Argo Wilis</h3>
                <p>15:00 - Bandung </p>
                <p>17:00 - Surabaya</p>
                <p>Tersedia</p>
                <p>Rp 450.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="tiket-card">
                <h3>Argo Semeru</h3>
                <p>15:00 - Gambir </p>
                <p>17:00 - Surabaya</p>
                <p>Tersedia</p>
                <p>Rp 1.100.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="tiket-card">
                <h3>Argo Parahyangan</h3>
                <p>15:00 - Bandung </p>
                <p>17:00 - Gambir</p>
                <p>Tersedia</p>
                <p>Rp 250.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="tiket-card">
                <h3>Argo Bromo Anggrek</h3>
                <p>15:00 - Gambir </p>
                <p>17:00 - Surabaya</p>
                <p>Tersedia</p>
                <p>Rp 700.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>
            
            <div class="tiket-card">
                <h3>Argo Umroh</h3>
                <p>23:00 - Plered </p>
                <p>12:00 - Mekkah</p>
                <p>Tersedia</p>
                <p>Rp 25.000.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="tiket-card">
                <h3>Argo Wilis</h3>
                <p>15:00 - Bandung </p>
                <p>17:00 - Surabaya</p>
                <p>Tersedia</p>
                <p>Rp 450.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="tiket-card">
                <h3>Argo Semeru</h3>
                <p>15:00 - Gambir </p>
                <p>17:00 - Surabaya</p>
                <p>Tersedia</p>
                <p>Rp 1.100.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="tiket-card">
                <h3>Argo Parahyangan</h3>
                <p>15:00 - Bandung </p>
                <p>17:00 - Gambir</p>
                <p>Tersedia</p>
                <p>Rp 250.000</p>
                <a href="data_diri.html" class="button button-pesan">Pilih Tiket</a>
            </div>

            <div class="back-button">
                <a href="pemesanan.html" style="margin-right: 1520px;" class="button button-kembali">Kembali</a>
            </div>

            <!-- Tambahkan card lain sesuai kebutuhan -->
        </div>
    </div>
</body>
</html>
