body {
    font-family: Arial, sans-serif;
    background-color: #3498db;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login-background {
    margin-left: 20px;
    margin-right: 50px;
    height: 77vh; /* Biarkan tinggi menyesuaikan proporsi gambar */
}

.login-logo {
    height: 7vh;
    margin-bottom: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #00000061;
}

.register-link {
    margin-top: 20px;
    color: #3498db;
}

.register-link a {
    text-decoration: none;
    color: #3498db;
}

.register-link a:hover {
    text-decoration: underline;
}

.colored-box {
    flex: 1;
    background-color: #ffffff; /* Adjust the color as needed */
    height: 100vh; /* Match the height of the form */
    width: 150vh;
    position: fixed;
    bottom: 0%;
    left: 30%;
}

@keyframes slide {
    0% {
        transform: translateY(-600%);
    }
    100% {
        transform: translateY(150%);
    }
}

.foto-1 {
    height: 69vh;
    animation: slide 30s linear infinite;
}

/* Your existing styles */

.error-message {
    color: red;
    margin-bottom: 20px;
    float: left;
}

