<!-- register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="../../public/css/login_style.css">
</head>
<body>
    <div class="login-container">
        <img src="../../public/images/logo_kai.jpg" alt="Logo" class="login-logo">
        <h2>Register</h2>
        <form action="view/dashboard/dashboard.html" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <a href="../../view/Login/login.html">
                <button type="button">Register</button>
            </a>
        </form>
        <p class="register-link">Sudah mempunyai akun? <a href="login.html">Login</a></p>
    </div>
    <img src="../../public/images/b.jpg" alt="Logo" class="login-background">
</body>
</html>
